apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  ports:
  - protocol: "TCP"
    port: 5432
    targetPort: 5432
  type: LoadBalancer
  selector:
   app: postgres
